<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UploadFile</servlet-name>
        <servlet-class>heps.db.magnet.servlet.UploadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewDesign</servlet-name>
        <servlet-class>heps.db.magnet.servlet.NewDesign</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryDesign</servlet-name>
        <servlet-class>heps.db.magnet.servlet.QueryDesign</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesignResult</servlet-name>
        <servlet-class>heps.db.magnet.servlet.DesignResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDesign</servlet-name>
        <servlet-class>heps.db.magnet.servlet.DeleteDesign</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadFile</servlet-name>
        <servlet-class>heps.db.magnet.servlet.DownloadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDesign</servlet-name>
        <servlet-class>heps.db.magnet.servlet.EditDesign</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDefineDesign</servlet-name>
        <servlet-class>heps.db.magnet.servlet.UserDefineDesign</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetMagnetDesign</servlet-name>
        <servlet-class>heps.db.magnet.servlet.SetMagnetDesign</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewMagnet</servlet-name>
        <servlet-class>heps.db.magnet.servlet.NewMagnet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadType</servlet-name>
        <servlet-class>heps.db.magnet.servlet.LoadType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadFamily</servlet-name>
        <servlet-class>heps.db.magnet.servlet.LoadFamily</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDesign</servlet-name>
        <servlet-class>heps.db.magnet.servlet.UpdateDesign</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryMagnet</servlet-name>
        <servlet-class>heps.db.magnet.servlet.QueryMagnet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MagnetResult</servlet-name>
        <servlet-class>heps.db.magnet.servlet.MagnetResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckDesign</servlet-name>
        <servlet-class>heps.db.magnet.servlet.CheckDesign</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckMagnet</servlet-name>
        <servlet-class>heps.db.magnet.servlet.CheckMagnet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMagnet</servlet-name>
        <servlet-class>heps.db.magnet.servlet.DeleteMagnet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMagnet</servlet-name>
        <servlet-class>heps.db.magnet.servlet.EditMagnet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMagnet</servlet-name>
        <servlet-class>heps.db.magnet.servlet.UpdateMagnet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadFile</servlet-name>
        <url-pattern>/UploadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewDesign</servlet-name>
        <url-pattern>/NewDesign</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryDesign</servlet-name>
        <url-pattern>/QueryDesign</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesignResult</servlet-name>
        <url-pattern>/DesignResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDesign</servlet-name>
        <url-pattern>/DeleteDesign</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadFile</servlet-name>
        <url-pattern>/DownloadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDesign</servlet-name>
        <url-pattern>/EditDesign</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDefineDesign</servlet-name>
        <url-pattern>/UserDefineDesign</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetMagnetDesign</servlet-name>
        <url-pattern>/SetMagnetDesign</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewMagnet</servlet-name>
        <url-pattern>/NewMagnet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadType</servlet-name>
        <url-pattern>/LoadType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadFamily</servlet-name>
        <url-pattern>/LoadFamily</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDesign</servlet-name>
        <url-pattern>/UpdateDesign</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryMagnet</servlet-name>
        <url-pattern>/QueryMagnet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MagnetResult</servlet-name>
        <url-pattern>/MagnetResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckDesign</servlet-name>
        <url-pattern>/CheckDesign</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckMagnet</servlet-name>
        <url-pattern>/CheckMagnet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMagnet</servlet-name>
        <url-pattern>/DeleteMagnet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMagnet</servlet-name>
        <url-pattern>/EditMagnet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMagnet</servlet-name>
        <url-pattern>/UpdateMagnet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <description>databae for heps-db-magnet</description>
        <res-ref-name>hepsMagnetDatasource</res-ref-name>
        <res-type>javax.sql.ConnectionPoolDataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
